@import url(fonts.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --page-backgroud-color: rgb(53, 156, 56);
    --link-color: rgb(0, 0, 0);
    --heading-font: "Mukta Bold", sans-serif;
    --nav-link-font: "Mukta Medium", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-family: var(--heading-font);
}
